# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE="ls:ls *:cd:cd -:pwd;exit:date:* --help"

# Use rbenv instead of local ruby
export PATH="$HOME/.rbenv/bin:$PATH"

# for sinatra
export RACK_ENV="development"

# for python
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8